@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;1,9..40,400;1,9..40,500&family=Syne:wght@800;400;500&display=swap');

@import "tailwindcss";

@theme {
  --font-dm-mono: "DM Mono", monospace;
  --font-syne: "Syne", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
}

:root{
  background: #000;
  --surface:#111118;
  --card:#16161f;
  --border:#2a2a3a;
  --accent:#5bffc3;
  --accent2: #ff6b6b;
  --accent3: #ffd166;
  --text: #e8e8f0;
  --muted: #6a6a8a;
}

*::before,
::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

@keyframes gridshift {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(60px);
    }
}

@keyframes fadeup {
  from{
    opacity: 0;
    transform: translateY(24px);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(32px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}